
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.body {
  font-family: monospace;
}
.menu {
  position: sticky;
  top:0;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  background-color: #C4C4C4;
  width: 100%;
  height: 80px;
}

label.logo {
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color:white;
  padding: 7px 13px;
  border-radius: 3px;
  font-size: 17px;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

a.active {
  background-color: rgb(63, 59, 59);
  transition: 5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float : right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width : 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #C4C4C4;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
section {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.device * {
  margin: 20px;
  font-weight: bold;
  font-size: large;
}

.device {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  background: #C4C4C4;
  border-radius: 10px;
}


.remove {
  color: rgb(212, 23, 23);
  cursor: pointer;
}
@media (max-width : 858px) {
  section {
    flex-direction: column;
  }
  .device {
    margin : 10px;
  }
}

.add-member {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 18px;
  width: 80%;
  background-color: #C4C4C4;
}

.add-member * {
  margin: 10px;
  font-size: large;
}

.centering button {
  height: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}



#address {
  background: #FFFFFF;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.add-mem-detail button {
  width: 106px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn1 {
  left: 0;
  margin-right: 100px;
}

.btn2 {
  right: 0;
}

.add-iot-com {
  display: flex;
  flex-direction: column;
}
.add-iot {
  width: 80%;
  background-color: #C4C4C4;
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
  
}

.add-iot * {
  margin: 10px;
}

.add-iot label {
  width: 180px;
  font-size: large;
  padding: 20px;
}

.add-iot input {
  background: #FFFFFF;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.add-iot-com button {
  width: 300px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 20%;
}

.device-name{
  cursor: pointer;
}

.connect-wallet {
  padding : 5px;
  background-color: blue;
  border : 2px solid rgb(233, 203, 203);
  color: white;
  cursor: pointer;
}

.access-denied {
  color: red;
  font-size: x-large;
  text-decoration: dotted;
}

.role:active{
  background:olive;
}

.role:focus{
  background:burlywood;
}