
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.body {
  font-family: monospace;
  background-color: black;
}
.menu {
  position: sticky;
  top:0;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  background-color: #172133;
  width: 100%;
  height: 80px;
}

label.logo {
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  border-bottom: 0.5px solid #24272756;
}

nav ul li a {
  color:white;
  padding: 7px 13px;
  border-radius: 3px;
  font-size: 17px;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

a.active {
  background-color: rgb(63, 59, 59);
  transition: 5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float : right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width : 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #333e52e0;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
section {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.device * {
  margin: 20px;
  font-weight: bold;
  font-size: large;
}

.device {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  background: #C4C4C4;
  border-radius: 10px;
}


.remove {
  color: rgb(212, 23, 23);
  cursor: pointer;
}
@media (max-width : 858px) {
  section {
    flex-direction: column;
  }
  .device {
    margin : 10px;
  }
}

.add-member {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 18px;
  width: 80%;
  background-color: #C4C4C4;
}

.add-member * {
  margin: 10px;
  font-size: large;
}

.centering button {
  height: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}



#address {
  background: #FFFFFF;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.add-mem-detail button {
  width: 106px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn1 {
  left: 0;
  margin-right: 100px;
}

.btn2 {
  right: 0;
}

.add-iot-com {
  display: flex;
  flex-direction: column;
}
.add-iot {
  width: 80%;
  background-color: #16294db4;
  border-radius: 10px;
  margin: 40px;
  color:white;
  padding: 20px;
  text-transform: uppercase;
  
}

.add-iot * {
  margin: 10px;
}

.add-iot label {
  width: 180px;
  font-size: large;
  padding: 20px;
}

.add-iot input {
  background: #FFFFFF;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.add-iot-com button {
  width: 300px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 20%;
}

.device-name{
  cursor: pointer;
}

.connect-wallet {
  padding : 10px;
  font-size: large;
  background-color: blue;
  border : 2px solid rgb(56, 50, 50);
  color: white;
  cursor: pointer;
  margin: 40%;
}

.access-denied {
  color: red;
  font-size: x-large;
  text-decoration: dotted;
}

.role:active{
  background:rgb(21, 8, 82);
}

.role:focus{
  color: white;
  background:rgb(15, 42, 83);
}


a {
  color: #2196f3;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
}



a:hover {
  color: #dce3e9;
  background: #2b348ad3;
  box-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 80px #2196f3;
}
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #0f11134d;
  -webkit-box-shadow: 3px 3px 5px 6px #151a1d4d;
  box-shadow:         3px 3px 5px 6px #1314149d;
}

.account {
  padding : 10px;
  color:#fffefe;
  background-color: #1d3e58;
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
  border: 0.025;
}

.btn-intro {
  font-size: x-large;
  letter-spacing: 2px;
}
.btn-mem{
  cursor: pointer;
  min-height: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(60, 131, 60);
}
.fi {
  margin: 20px;
  min-height: 50px;
}
.btn-rm{
  border-radius: 0.25;
  cursor: pointer;
  color: rgb(248, 73, 73);
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
}

.device{
  color: rgb(26, 25, 65);
}
